.botao_enviar {
	-fx-background-color: #1F9AE8;
	-fx-background-radius: 2px;
	-fx-border-radius: 2px;
}

.botao_anexar {
	-fx-background-color: #828181;
	-fx-background-radius: 2px;
	-fx-border-radius: 2px;
}

.feed_background {
	-fx-background-color: #EEF2F5;
}


.feed_postagem {
	-fx-background: #FFFFFF;
	-fx-border-color: #FFFFFF;
	-fx-focus-color: transparent;
}

.scroll-pane
{
    -fx-background-color: transparent;
    -fx-border-color: #FFFFFF;
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar:vertical
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;

}

.scroll-pane .scroll-bar:vertical .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 10 0;

}

.scroll-pane .scroll-bar:vertical .decrement-button
{

    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow, .scroll-pane .scroll-bar .decrement-arrow {
    -fx-padding: -2;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #1F9AE8;
    -fx-background-insets: 2, 0, 0;
}